// $primary_color: #ff9400;
$primary_color: #66ccff;
$secondary_color: #1f1f1f;


.flex {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.content {
    padding: 6vh 12vw;
}

.content.xs{
    padding: 4vh 2vw;
    overflow-x: hidden;

    .text-headline {
        font-size: 300%;
        text-align: center;
        font-style: italic;
        line-height: 125%;
        margin-bottom: 2rem;
    }
}



.primary_color {
    background-color: $primary_color;
    color: $secondary_color;

    .triangle {
        background-color: $secondary_color;
        color: $primary_color;
        border-color: $primary_color transparent transparent transparent;
    }
}

.secondary_color {
    background-color: $secondary_color;
    color: $primary_color;

    .triangle {
        background-color: $primary_color;
        color: $secondary_color;
        border-color: $secondary_color transparent transparent transparent;
    }
}

.text-headline {
    font-size: 300%;
    text-align: center;
    font-style: italic;
    line-height: 300%;
}
