// $primary_color: #ff9400;
$primary_color: #66ccff;
$secondary_color: #1f1f1f;


.flex {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.content {
    padding: 6vh 12vw;
}

.content.xs{
    padding: 4vh 2vw;
    overflow-x: hidden;

    .text-headline {
        font-size: 300%;
        text-align: center;
        font-style: italic;
        line-height: 125%;
        margin-bottom: 2rem;
    }
}



.primary_color {
    background-color: $primary_color;
    color: $secondary_color;

    .triangle {
        background-color: $secondary_color;
        color: $primary_color;
        border-color: $primary_color transparent transparent transparent;
    }
}

.secondary_color {
    background-color: $secondary_color;
    color: $primary_color;

    .triangle {
        background-color: $primary_color;
        color: $secondary_color;
        border-color: $secondary_color transparent transparent transparent;
    }
}

.text-headline {
    font-size: 300%;
    text-align: center;
    font-style: italic;
    line-height: 300%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: fadeIn;
    animation-direction: reverse;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-200%);
        visibility: hidden;
    }

}

.moveToLeft {
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.44, .14, .34, 1);
    animation-fill-mode: forwards;
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }

}

.moveFromBottom {
    animation-name: moveFromBottom;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.44, .14, .34, 1);
    animation-fill-mode: forwards;
}
